body {
  margin: 0px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.top {
  background-color: #eff7d3;
  position: relative;
  padding-top: 100px;
}
h1 {
  font-size: 90px;
  margin: 0px;
  color: #66bfbf;
  line-height: 2;
}
h2 {
  font-size: 2.5rem;
  color: #66bfbf;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #11999e;
}

.img-cloud {
  position: absolute;
  top: 25px;
  right: 175px;
}

.img-cloud2 {
  position: absolute;
}

.greg {
  border-radius: 100%;
}
.skill-row {
  width: 50%;
  margin: 100px auto;
  line-height: 2;
}
.skill-row p {
  text-align: left;
}
.computre {
  width: 25%;
  float: left;
  padding-right: 20px;
}

p {
  color: #40514e;
}

.middle-container {
  padding: 100px 0;
}

hr {
  width: 50px;
  border-style: dashed;
  color: #666;
}

.mou {
  max-width: 100%;
}

a {
  padding: 10px;
}

a:host,
a:visited {
  color: #000;
}
