.top {
  background-color: #eff7d3;
  position: relative;
  padding-top: 100px;
}
body {
  margin: 0px;
  text-align: center;
}
h1 {
  margin: 0px;
}

.middle-container {
  background-color: red;
  height: 200px;
  width: 200px;
}

.bottom-container {
  background-color: blue;
  height: 200px;
  width: 200px;
  position: relative;
  bottom: 50px;
  left: 50px;
}
.img-cloud {
  position: absolute;
  top: 25px;
  right: 175px;
}

.img-cloud2 {
  position: absolute;
}
